<nav class="navbar navbar-dark bg-primary align-items-center">
  <div class="col-md-12">
    <h1 class="text-center text-white">Prueba Tecnica CODESA</h1>
  </div>
</nav>
<div class="container pt-5">
  <div class="card w-100 my-2">
    <div class="card-header">
      Parametros de busqueda
    </div>
    <div class="card-body">
      <div class="list-group list-group-flush">
        <div class="list-group-item d-inline-block">
          <button (click)="searchUser()" class="btn btn-primary mx-2">Constular</button>
          <button (click)="filter=''; searchUser()" class="btn btn-primary mx-2">Limpiar</button>
        </div>
        <div class="list-group-item">
          <label for="">Nombre:</label>
          <input [(ngModel)]="filter" class="form-control" type="text" placeholder="Joe Doe">
        </div>
      </div>
    </div>
  </div>
  <div class="card w-100 my-2">
    <div class="card-header">
      Informacion del usuario
    </div>
    <div class="card-body">
      <div class="list-group list-group-flush">
        <div class="list-group-item d-inline-block">
          <button (click)="unselectUser()" class="btn btn-primary mx-2">Crear</button>
        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col">ROL</th>
                    <th scope="col">ESTATUS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr (click)="loadUser(user)" *ngFor="let user of users">
                    <td> {{user.pk}} </td>
                    <td> {{user.name}} </td>
                    <td> {{rol[user.rol.name]}} </td>
                    <td [ngClass]="{'text-success': user.active, 'text-danger': !user.active}"> <span
                        *ngIf="user.active">Activo</span> <span *ngIf="!user.active">Inactivo</span> </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card w-100 my-2">
    <div class="card-header">
      Lista de Usuarios
    </div>
    <div class="card-body">
      <div class="list-group list-group-flush">
        <div class="list-group-item d-inline-block">
          <button *ngIf="!edit" (click)="createUser(userForm.value)" class="btn btn-primary mx-2"
            [disabled]="!userForm.valid">Guardar</button>
          <button *ngIf="edit" (click)="patchUser(userForm.value, selectedUser.pk)" class="btn btn-primary mx-2"
            [disabled]="!userForm.valid">Guardar</button>
          <button (click)="deleteUser(selectedUser.pk)" class="btn btn-danger mx-2"
            [disabled]="!selectedUser">Eliminar</button>
        </div>
        <div class="list-group-item">
          <div class="row">
            <div class="col">
              <form [formGroup]="userForm">
                <div class="form-group row">
                  <label class="col-3 col-form-label">Nombre: </label>
                  <div class="col-9">
                    <input formControlName="name" type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-3 col-form-label">Rol:</label>
                  <div class="col-9">
                    <select formControlName="rol" class="form-control">
                      <option value="ADM">Administrador</option>
                      <option value="AUD">Auditor</option>
                      <option value="AUX">Auxiliar</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <input formControlName="active" type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Status</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>